@model Project_MVC_MCC75.ViewModels.EducationUniversityVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
